<div class="chat-rooms">
  <div class="chat-header">
    <h1 class="chat-room-title">新規チャットルーム作成</h1>
    <%= link_to "戻る", chat_rooms_path, class: "btn btn-secondary" %>
  </div>

  <div class="card">
    <%= form_with(model: @chat_room, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :name, "ルーム名" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <%= f.submit "作成", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
